    <div class="container">
            <div class="input-group mb-3">
            <form method="POST" action="/addItem">
                <input type="text" class="form-control" name="item" placeholder="Adicione itens ao ranking" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                            <path d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
                        </svg>
                    </button>
                </div>
                <input type="submit" value="ok"> 
            </form>
        </div>
    </div>