<% include ./partials/header.ejs%>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">3 Melhores</a>
    </nav>
    <form method="POST" class="text-center border border-light p-5" action="/add">
        <p class="h4 mb-4">Novo ranking</p>
        <input type="text" id="defaultContactFormName" name="title" class="form-control mb-4" placeholder="Titulo">
        <button class="btn btn-info btn-block" type="submit">Salvar</button>
    </form>
<% include ./partials/footer.ejs%>