<% include ./partials/header.ejs%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">3 Melhores</a>
    </nav>
    <div class="d-flex justify-content-end p-4">
        <a href="/form">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 8 8">
                <path d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
            </svg>
        </a>
    </div>
    
    <%rankItens.rank.map(rank => {%>
        <div class="card m-5">
            <div class="card-body">
                <h3 class="card-title"><%- rank.title %></h3>
                <div class="m-3">
                    <form class="form-inline mt-4" method="POST" action="/addItem/<%-rank._id%>">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="tetx" class="form-control" name="item"  placeholder="Add itens">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="numStars"  placeholder="numero de estrelas">
                        </div>
                        <button  type="submit" class="btn btn-dark mb-2 m-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8" style="fill: #ffda47;">
                                <path d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
                            </svg>
                        </button>
                    </form>
                    <table class=" table table-borderless ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Stars</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                            var count = 1
                            rank.itens.map(item => {%>
                                <% if(count <= 3) {%>
                                    <tr>
                                        <th scope="row">
                                            <img src="/img/trophy.svg" alt="trofel"  height="16" width="16">
                                            <%= count++%>
                                        
                                        </th>
                                        <td><%-item.name%></td>
                                                                
                                        <td> 
                                            <div>
                                                <a href="/incStars/<%-item._id%>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                                                    <path style="fill: green;" d="M2.47 0l-2.47 3h2v5h1v-5h2l-2.53-3z" transform="translate(1)" />
                                                </svg>
                                                </a>
                                                <span><%-item.numStars%> </span>
                                                <a href="/dncStars/<%-item._id%>"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                                                    <path style="fill: red;" d="M2 0v5h-2l2.53 3 2.47-3h-2v-5h-1z" transform="translate(1)" />
                                                </svg>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="/delItem/<%-item._id%>">
                                                <img src="/img/garbage.svg" height="20" width="20">
                                            </a>
                                        </td>     
                                    </tr>
                                <%} else {%>
                                      <tr>
                                        <th scope="row"><%= count++%></th>
                                        <td><%-item.name%></td>                                                                
                                        <td> 
                                            <div>
                                                <a href="/incStars/<%-item._id%>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                                                    <path style="fill: green;" d="M2.47 0l-2.47 3h2v5h1v-5h2l-2.53-3z" transform="translate(1)" />
                                                </svg>
                                                </a>
                                                <span> <%-item.numStars%> </span>
                                                <a href="/dncStars/<%-item._id%>"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                                                    <path style="fill: red;" d="M2 0v5h-2l2.53 3 2.47-3h-2v-5h-1z" transform="translate(1)" />
                                                </svg>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="/delItem/<%-item._id%>">
                                                <img src="/img/garbage.svg" height="20" width="20">
                                            </a>
                                        </td>     
                                    </tr>
                                <%}%>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <%})%>
    
    
    
<% include ./partials/footer.ejs%>